@model Employee
@{
    ViewData["Title"] = "DEtails";
}

<h1>DEtails</h1>
<partial name="_EmpCardPartial" model="@Model"/>

<a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id">Edit</a>




@* 
<h1>@ViewData["xyz"]</h1>
<h1>@ViewBag.xyz</h1>
<h2 style="background-color:@ViewData["clr"]">@Model.Name</h2>
<h2 style="background-color:@ViewBag.clr">@Model.Name</h2>

<h3>@ViewData["Message"]</h3>
<h3>@(ViewBag.Message)</h3>

<hr />
<h3>@(int.Parse(ViewData["temp"].ToString()) -10)</h3>
<h3>@(ViewBag.temp-10)</h3>

<hr />
<select class="form form-control">
    @foreach (var item in (List<string>)ViewData["brch"])
    {
        <option>@item</option>        
    }
</select>
<select class="form form-control">
    @foreach (var item in ViewBag.brch)
    {
        <option>@item</option>
    }
</select>

<hr />

 *@
<!--
1) MAgic string "Dictoinary Key"
2) Unboxing 
3) Scope one action to return view
4) ViewBag type Casting in Runtime
5) Dotn used the same key to insert new info 
-->
