@model EmployeeWithDeptListViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<!--Who how id exist model (route values | input type hidden-->
<form method="post" action="/Employee/SaveEdit/@Model.Id">
    <!--Pure Html-->
    @* <div>
        <label>Address</label>
        <input type="text" class="form form-control" id="Address" name="Address" value="@Model.Address" />
    </div> *@
    <!--Using HTML Helper-->
    <div>
       @* @Html.LabelFor(e=>e.Address) *@
       @* @Html.TextBoxFor(e=>e.Address,new{style="color:red",@class="form form-control"}) *@
       @* @Html.EditorFor(e=>e.Address)
       @Html.EditorFor(e=>e.Salary) *@
    </div>
    <!--Tag Helper-->
    <label asp-for="Address"></label>
    <input class="form form-control" asp-for="Address"/>
    <hr />
    
    
    










    <div>
        <label>Name</label>
        <input type="text" class="form form-control" id="Name" name="Name" value="@Model.Name" />
    </div>
   
    <div>
        <label>ImageUrl</label>
        <input type="text" class="form form-control" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl" />
    </div>
    <div>
        <label>Salary</label>
        <input type="number" class="form form-control" id="Salary" name="Salary" value="@Model.Salary" />
    </div>



    <div>
        <label>DepartmentID</label>
        @* <input type="number" class="form form-control" id="DepartmentID" name="DepartmentID" value="@Model.DepartmentID" /> *@
        <select class="form form-control" id="DepartmentID" name="DepartmentID">
            @foreach (Department deptItem in Model.DeptList)
            {
                

                if (Model.DepartmentID == deptItem.Id)
                {
                    <option value="@deptItem.Id" selected>@deptItem.Name</option>
                }
                else
                {
                    <option value="@deptItem.Id">@deptItem.Name</option>
                }
            }
        </select>
    </div>


    @* <input type="hidden" name="id" value="@Model.Id" /> *@
    <input type="submit" value="save" class="btn btn-primary" />
</form>

<a href="/Employee/Index">Back To List</a>
<br />
@Html.ActionLink("Back To List","Index","Employee")
<br />
<a asp-action="Index" asp-controller="Employee">Back To List</a>

<hr />


<a href="/Employee/Details/@Model.Id?name=@Model.Name">Details</a>
<br />
@Html.ActionLink("Details Html Helper", "Details", "Employee",new{id=Model.Id,name=Model.Name})
@Html.ActionLink("Details Html Helper", "Details", "Employee",new{id=Model.Id,name=Model.Name},new {style="color:red"})
@Html.ActionLink("Details Html Helper", "Details",new{id=Model.Id,name=Model.Name},new {@class="btn btn-success"})
<br />
<a class="btn btn-success" 
    asp-action="Details" asp-controller="Employee"
    asp-route-id="@Model.Id"  asp-route-name="@Model.Name" 
    asp-route-salary="12121">Details Tag Helper</a>
